*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}
html{
    scroll-padding-top: 4rem;
}
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
    background: linear-gradient(55deg, #0f1ab8 0%, #0bc0d4 50%, #119ed1 85%);
}
main{
    font-size: calc(15px + 0.4vw);
}
.canSelect {
    -webkit-touch-callout: all;
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}
header{
    font-size: calc(20px + 0.2vw);
}
.fill {
    min-height: 100vh;
}
.inner-shadow {
    border-bottom: 1px solid grey;
    box-shadow: inset gray 0px 0px 50px -12px; 
}
.text-light{
    text-shadow: 1px 1px 1px black;
}
.text-black{
    text-shadow: none;
}