*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}
html{
    scroll-padding-top: 4rem;
}
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
    background: linear-gradient(55deg, #0f1ab8 0%, #0bc0d4 50%, #119ed1 85%);
}
main{
    font-size: calc(15px + 0.4vw);
}
.canSelect {
    -webkit-touch-callout: all;
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}
header{
    font-size: calc(20px + 0.2vw);
}
.fill {
    min-height: 100vh;
}
.inner-shadow {
    border-bottom: 1px solid lightgray;
    box-shadow: inset lightblue 0px 0px 50px -12px; 
}
.text-light{
    text-shadow: 1px 1px 1px black;
}
.text-black{
    text-shadow: none;
}

/* On scroll animations */
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#myBtn {
    display: none;
    position: fixed;
    top: 45%;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: calc(20px + 0.5vw);
    transition: all 0.5s ease;
}
  
#myBtn:hover {
    background-color: lightgray;
    padding: 14px;
    border: 1px solid black;
    color: black;
}