@media(min-width: 992px){
    .navbar-nav a{
        position: relative;
        top: 0;
        transition: all 0.4s ease;
    }
    .navbar-nav a:hover{
        top: 5px;
        transition: all 0.4s ease;
    }
    .img_container{
        position: relative;
        width: 100%;
    }
    .YLImg{
        border-radius: 50%;
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    .middle{
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
    .img_container:hover .YLImg {
        opacity: 0.3;
    }
    .img_container:hover .middle {
        opacity: 1;
    }
    .middle_text {
        background-color: #04AA6D;
        border-radius: 5px;
        color: white;
        padding: 16px 32px;
    }
    footer a{
        font-size: calc(20px + 0.2vw);
        text-decoration: none;
        transition: all 0.5s ease;
    }
    footer a:hover{
        color: lightgray;
        cursor: pointer;
        transition: all 0.5s ease;
    }
}
